#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat    ;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    
    width: 2%;
    height: 24.5%;
    top: 26%;
    left: 49%;
    
    
}


#minute{
    width: 1.3%;
    height: 34.5%;
    top: 16%;
    left: 49.3%;
    opacity: 0.8;   
    
    
}
#second{
    width: 0.85%;
    height: 37.5%;
    top: 13%;
    left: 49.5%;
    opacity: 0.8;
    
    
}
